/*登录图片*/
.login-img{

  background:url("../img/view.jpg") no-repeat ;
  height: 100%;
  background-size: cover;
}
.login-container{
  height: 100vh;
  position: relative;
}
.login-img h3{
  font-size: 30px;
  text-align: center;
  padding-top:30px;
  margin-top:0;
}
.login-about{
  width: 100%;
  background: rgba(255,255,255,.3);
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  /*padding: 2rem;*/
}
.login-input{
  width: 45rem;
  /*background-color: #fff;*/
  margin: auto;
  padding: 2rem;
}
.login-input p{
  text-align: center;
  font-size: 2rem;
  color: #333;
}
.login-input .el-button{
  padding: 20px 25px;
  margin-left: 80px;

}
.login-input .el-form-item__content{
  text-align: center;
}
.el-form{
  margin-left: 70px;
  width: 500px;
}





